
/* navbar */

.navbar {
    background-color: rgb(50, 177, 182);
}

.menu a {
    color: #fff;
}


#Layer_1 {
    width: 30px;
    height: 30px;

}


/* header */

.hero{
    top:0px;
}

.carousel-item img{
    height: 500px;
}


/* quienes somos */

#quienesomos {
    background: black;
    color: #fff;
}

.quienesomos_row i{
    background-color: rgb(50, 177, 182);
    width: 100%;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;

}

/* destacados */

#destacados {
    background:black;
}

.card-body{
    background-color: rgb(50, 177, 182);
    font-size: 12px;
}
